
@media (max-device-width: 480px){

    /* your css rules for iphone */
    #shortContent {
        width: 250px !important;
    }
    #viewFollowersStr {
        margin-right: 70px;
    }
    .mainIndexTitle strong {
        font-size: 32px !important;
    }
    #startupDetail {
        width: 380px!important;
    }

    .follow_view .btn  {
        padding: 6px !important;
    }
    .view-startup {
        float: right !important;
        padding: 6px !important;
        margin-left: 4px !important;
    }
    .follow_view {
        float: left !important;
        margin: 0px !important;
    }

    .follow_view_count {
        clear: both !important;
        display: block !important;
    }
    .indexConText {
        margin-left: 5px !important;
        width: 46% !important;
    }

    #newStartupBtn2 {
        top: 265px !important;
     }
    #investBtn2 {
        top: 265px !important;
        right: 245px !important;
    }

   #indexBtns a {
        height: 50px !important;
        width: 198px !important;
        margin: 10px 15px !important;
    }
    #startupDetail {
        width: 450px !important;
    }
    #onCrowderBtn:hover {
        background: url("../images/btnsIphone.png") no-repeat -198px 0px !important;
    }
    #onCrowderBtn{
        background: url("../images/btnsIphone.png") no-repeat 0px 0px !important;
    }
    #newStartupBtn:hover {
        background: url("../images/btnsIphone.png") no-repeat -198px -108px !important;
    }
    #newStartupBtn {
        background: url("../images/btnsIphone.png") no-repeat 0px -108px !important;
    }
    #fromPressBtn:hover {
        background: url("../images/btnsIphone.png") no-repeat -198px -53px !important;
    }
    #fromPressBtn {
        background: url("../images/btnsIphone.png") no-repeat 0px -53px !important;
    }
    #investBtn:hover {
        background: url("../images/btnsIphone.png") no-repeat -198px -161px !important;
    }
    #investBtn {
        background: url("../images/btnsIphone.png") no-repeat 0px -161px !important;
    }

    #normalRegister .form {
        margin: 30px 60px 0 19px !important;
    }
    #startupTopMenu li {
        width: 250px;
    }
    li.startup {
        width: 23% !important;
        margin-left: 17px !important;
    }

    #signatureMsg {
        width: 250px !important;
    }

    #signatureTitle {
        line-height: 35px !important;
    }
    #startupIndexImg {
        margin-right: 10px;
    }
    #selectedStartupMedia {
        width: 450px !important;
    }
}
@media (max-device-width: 480px) and (orientation:landscape) {
    /* your css rules for iphone landscape */

}
@media  (max-device-width: 480px) and (orientation:portrait) {
    /* your css rules for iphone portrait */

}
@media (device-width: 768px) and (device-height: 1024px)
{
    /* your css rules for ipad */
    #startupDetail {
        width: 380px!important;
    }
    #shortContent {
        width: 250px !important;
    }

    #startupDetail {
        width: 450px !important;
    }
    #selectedStartupMedia {
        width: 450px !important;
    }
    #viewFollowersStr {
        margin-right: 70px;
    }

    .indexConText {
        margin-left: 5px !important;
        width: 46% !important;
    }

    .mainIndexTitle strong {
        font-size: 37px !important;
    }
    #startupDetail {
        width: 380px!important;
    }
    #mainVid {
        margin-left: 20px !important;
        width: 40% !important;

    }
    #newStartupBtn2 {
        top: 267px !important;
    }
    #investBtn2 {
        top: 265px !important;
        right: 245px !important;
    }

    .follow_view .btn  {
        padding: 6px !important;
    }
    .follow_view {
        float: left !important;
        margin: 0px !important;
    }
    .view-startup i {

    }
    .view-startup {
        float: right !important;
        padding: 6px !important;
        margin-left: 4px !important;
    }

    .follow_view_count {
        clear: both !important;
        display: block !important;
    }
    #indexBtns a {
        height: 52px !important;
        width: 198px !important;
        margin: 10px 15px !important;
    }

    #onCrowderBtn:hover {
        background: url("../images/btnsIphone.png") no-repeat -198px 0px !important;
    }
    #onCrowderBtn{
        background: url("../images/btnsIphone.png") no-repeat 0px 0px !important;
    }
    #newStartupBtn:hover {
        background: url("../images/btnsIphone.png") no-repeat -198px -108px !important;
    }
    #newStartupBtn {
        background: url("../images/btnsIphone.png") no-repeat 0px -108px !important;
    }
    #fromPressBtn:hover {
        background: url("../images/btnsIphone.png") no-repeat -198px -53px !important;
    }
    #fromPressBtn {
        background: url("../images/btnsIphone.png") no-repeat 0px -53px !important;
    }
    #investBtn:hover {
        background: url("../images/btnsIphone.png") no-repeat -198px -161px !important;
    }
    #investBtn {
        background: url("../images/btnsIphone.png") no-repeat 0px -161px !important;
    }

    #signatureMsg {
        width: 250px !important;
    }

    #signatureTitle {
        line-height: 35px !important;
    }
    #startupTopMenu li {
        width: 260px !important;
    }

    #normalRegister .form {
        margin: 30px 60px 0 19px !important;
    }


    #startupIndexImg {
        margin-right: 10px;
    }
}
@media (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
    /* your css rules for ipad portrait */
    li.startup {
        width: 193px !important;
        margin-left: 16px;
    }

    ul#startupList li:nth-child(4n+4) {
        margin-left: 0px;
    }
}
@media (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
    /* your css rules for ipad landscape */
    .startup {
        width: 194px !important;
        margin-left: 15px;
    }
    ul#startupList li:nth-child(4n+4) {
        margin-left: 0px;
    }

}

/* Global Defaults
=====================================================================*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,table,tr,th,td,embed,object {
	margin:0;
	padding:0;
}
ul {
    margin: 0;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img,abbr{
	border:0;
}
caption,th {
	text-align:left;
}
a,a:link,a:visited,a:hover { 
	color:#0071c8;
	text-decoration:none;
    cursor: pointer;
}
a:focus,a:hover { 
	text-decoration:underline;
}
a img { 
	border:0; 
}
:focus {
	outline: 0;
}
.clear { 
	clear:both; 
}
.initUl {
    list-style: none;
    margin: 0;
}
#content { font-size: 13px; }

@font-face { font-family: FBPEKAN; src: url('Fonts/FBPEKAN-REGULAR.OTF'); }
@font-face { font-family: FBPEKAN-B; font-weight: bold; src: url('Fonts/FBPEKAN-BOLD.OTF'); }

/* Global Elements
=====================================================================*/
body {
    background: #fff;
    line-height: 1.6em;
    font-size: 14px;
}

.replace{
	position:relative;
	margin:0;
	padding:0;
	/* \*/
	overflow:hidden;
	/* */
}
.replace span{
	display:block;
	position:absolute;
	top:0;
	left:0;
	z-index:1;
}


#messageList {
    position: fixed;
    top: 50px;
    z-index: 99999;
    list-style: none;
    display: block;
}

.skiplink{
	display:none;
}

.initA:hover {
    color:#666;
}

.initA {
    color:#000;
    text-decoration:none;
}

.form div.row {
    margin-bottom:10px;
}

.form label {
    font-size: 20px;
    width: 200px;
    font-size: 12px;
    width: 76px;
    display: block;
    float: right;
    line-height: 30px;
}
.errorMessage {
    color: #BF5A5A;
    font-size: 11px;
    margin-top: 6px;
}
.roundedCorners {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

ul, ol {
    margin: 0px;
    padding: 0px;
    list-style:none;
    display: table;
}
.shadowBoxLight {
    -moz-box-shadow: 1px 2px 5px rgb(220,220,219);
    -webkit-box-shadow: 1px 2px 5px rgb(220,220,219);
    box-shadow: 1px 2px 5px rgba(220,220,219);
}

.shadowBox {
    -moz-box-shadow: 0px 3px 5px rgb(220,220,219);
    -webkit-box-shadow: 0px 3px 5px rgb(220,220,219);
    box-shadow: 0px 3px 5px rgba(220,220,219);
}
.ease {
    outline: none;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
}

.wrapper {
    width: 100%;
    margin:0 auto;
    display: table;
}

label {
    cursor: pointer;
}

input[type=text]:focus, input[type=password]:focus{
}
input[type=text], input[type=password]{
    height: 26px;
    width: 240px;
    outline: none;
    color: #0a0707;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
}

.mainTitle {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 25px;
    line-height: 34px;
}
/* Start CSS Coding
=====================================================================*/
#header {
	width:100%;
    display: table;
}

#topManu {
    width: 100%;
    height: 40px;
    background: rgb(69,72,77); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ1NDg0ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-8 */
}

#message #errors{
    color: #BF5A5A;
    font-size: 11px;
    line-height: 20px;
    padding-right: 22px;
    background: url("../images/failed.png") right center no-repeat;

}
#message #success {
    margin: 20px 2px;
    color: #4DBB2B;
    font-size: 15px;
    background: url("../images/success.png") right center no-repeat;
    padding-right: 22px;
}
#logo {
    padding: 0px 10px;
    background: url("../images/logoBc.png") repeat center;
    height:40px;
    float: left;
    font-size: 28px;
    color: white;
    line-height: 38px;
}

#headerTitle .wrapper {
    padding-top:30px;
}

#topText {
    float: right;
}
#logo:hover {
    text-decoration: none;
}

#logoFund {
    color: #FFF;
}

.navbar .brand {
    font-size: 22px;
    color: #36c5ed !important;
    float: left !important;
}
.navbar .brand:hover > #logoFund {
    color:#C2EC5E;
}

.menutop {
    float: right;
    font-size: 12px;
}
.menutop li {
    float: right;
}
#register-form .row {
    width: 350px;
}
#register-form label {
    float: right;
    line-height: 38px;
    font-size: 15px;
}
#manuregister.menutop li.first a{
color: #32a34a !important;
}

#manuregister.menutop li.first a:hover{
    color: #3eca44 !important;
}

#manuregister {
    border-left: 1px solid #818280;
    padding-left: 20px;
    margin-left: 10px;
}

.menutop li a:hover{
    text-decoration: none;
    color: #f0f0f0 !important;
}

.menutop li a, .menutop li a:link, .menutop li a:visited {
    padding-right: 15px;
    display: block;
    color: #818280;
    font-weight: bold;
    line-height: 40px;
    outline: none;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
}

#headerTitle {
    background: url("../images/headerBcN.png") repeat-x center;
    height: 258px;
    color: #ffffff;
    font-size: 22px;
    border-bottom: 2px solid white;
}

#topTitle {
    font-size: 27px;
    font-weight: bold;
    line-height: 35px;
}

#noise {
    background: url("../images/noise_2.png") repeat;
    height: 100%;
}

#signUp {
    padding: 9px 58px 15px;
    float: left;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    background: rgb(69,72,77); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ1NDg0ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-8 */
    border: 1px solid #4ccd67;
    font-size: 16px;
    margin-left: 50px;
    margin-top: 8px;
}

.topBtn:hover {
    background: #1ea93c url("../images/btnTopHover.png") repeat-x center;
}
.topBtn {
    margin-top: 10px;
    color: #1c261f;
    padding: 15px 60px;
    background:url("../images/btnTop.png") repeat-x center;
    cursor: pointer;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}

#weeklyMail {
    float: left;
    text-align: center;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    padding: 8px 0px;
    width: 100px;
    margin-top: 13px;
    border: 1px solid #191B19;
    font-weight: bold;
    font-size: 14px;
}

#mailDel {
    width: 183px;
    margin-top: 14px;
    height: 27px;
}

#topSeprator {
    height: 15px;
    background: url("../images/headerBcN.png") repeat-x  center;
    border-bottom: 1px dotted #EAEAEA;
}

#topTitlePage .wrapper {
    padding: 13px 5px 0 0;
    font-size: 30px;
    color: black;
    text-shadow: 0 1px 0 #C6F160;
    font-weight: bold;
}

#topTitlePage {
    height: 65px;
    background: #ffffff url("../images/white_noted.png") repeat;
    border-bottom: 2px dotted #EAEAEA;
}
#moreInvestor {
display: block;
margin: 20px auto;
width: 160px;
text-align: center;
}
#mainContent {
    width: 100%;
    background: url("../images/topGrdContent.png") repeat-x top;
    min-height: 215px;
    padding-bottom: 30px;
    border-bottom: 4px dotted #ECEBEB;
}


#mainContentBoxTop {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    background: white url("../images/white_noted2.png") repeat;
    height: 57px;
    top: -5px;
    position: relative;
    border: 2px white solid;
}
#btnLearnMore {
    font-size: 15px;
    color: #FFFFFF;
}
#mainContentHeader {
    height: 134px;
    margin-top: -25px;;
    z-index: 0;
    position: relative;
}

#mainContentStart {
    margin-top: -116px;
    z-index: 1;
    position: relative;
    padding: 0 20px;
}

#mainTitle {
    font-size: 36px;
    color: black;
    text-align: center;
    padding: 0px 10px;
    top: -14px;
    position: relative;
    color: #424242;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255, 255, 255, 0.8);
}

#mainTitle span {
    color:#222;
    font-weight: bold;
    font-size: 33px;
}
#page-login #facebookloginbutton {
    text-align:center;
}

#page-login #facebookloginbutton a {
    background-image:url(../images/facebook_signin.png);
    width: 150px;
    height: 22px;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

#page-login #facebookloginbutton a:hover {
    background-position: 0 22px;
}

#namePop .pointer {
    width:100%;
    height: 13px;
    background: url("../images/pointer.png") no-repeat top center;
    background-position: 82px -1px;
    opacity: 0.7;
}
#namePop .content {
    font-size: 22px;
    color: #ffffff !important;
    opacity: 1 !important;
    width:100%;
    text-align: center;
}
#namePop {
    display: none;
    line-height: 40px;
    height: 40px;
    width: 200px;
    position: absolute;
    background: url("../images/popBc.png") repeat-x center;
    border: 1px solid   #e3e3e3;
    float: left;
}
.middleTitle {
    padding: 5px 5px;
    line-height: 50px;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 10px;
}
#funderList {
    margin-right: 19px;
    list-style: none;
}
#facebookBtn:hover {
    background-position: 0 0;
}
#facebookBtn a:hover {
    text-decoration: none;
}
#facebookBtn a {
    color: #ffffff;
    font-size: 20px;
    line-height: 30px;
    margin: 0 15px;
}
#facebookBtn {
    border: 1px solid #8d9ec3;
    background: url("../images/fbBc.png") repeat-x top;
    background-position:0 -34px;
    height: 34px;
    cursor: pointer;
}
#facebookBtn .logoFace {
    display: block;
    height: 34px;
    width:34px;
    float: right;
    background: url("../images/fbF.png") no-repeat center;
    border-left: 1px solid #8d9ec3;
}

#facebookRegister {
    float: right;
    margin: 82px 137px 0 163px;
}

#normalRegister .form .btn {
    margin-left: 25px;
}
#normalRegister .form {
    float: right;
    margin: 30px 215px 0 19px;
}

.member img:hover {
    -webkit-box-shadow: 0 7px 14px -3px #808080;
    -moz-box-shadow: 0 7px 14px -3px #808080;
    box-shadow: 0px 7px 14px -3px  #808080;
}

.member img{
    -webkit-box-shadow: 0 7px 10px -3px #c2c0c0;
    -moz-box-shadow: 0 7px 10px -3px #c2c0c0;
    box-shadow: 0px 7px 10px -3px  #c2c0c0;
    border: 1px solid #ffffff;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    float: left;
    width: 75px;
    height: 75px;
}

#investPriceBox {
    text-align: center;
    padding-top: 40px;
    margin-bottom: 20px;
    /*display: none;*/
}

#tInvestPrice {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 15px;
}
#mtInvestPrice {
    font-size: 16px;
}
#registerBox {
    background: url("../images/orFcb.png") no-repeat;
    background-position: 50% 202px;
    display: table;
    width: 100%;
}

.breadcrumbs a:hover {
}

.breadcrumbs a {
    color: #ffffff;
}

.breadcrumbs {
    float: right;
    position: absolute;
    right: 182px;
    top: 254px;
    font-size: 14px;
    color: white;
}
.regPopup {
    display: none;
    width:  600px;
    background: #e6ece7 url("../images/noise_2.png") repeat;
    border: 2px solid #bec0bf;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    padding: 40px;
}

.regPopup ul {
    margin: 0 auto;
}
.regPopup .mTitle {
    text-align: center;
    margin-bottom: 25px;
}

.mTitle {
    font-size: 25px;
    font-weight: bold;
    color: #797a79;
}
#categoriesList li:hover,#priceList li:hover, .btnPopup:hover{
    background:#d5d9d6;
    border: 2px solid #eef1ef;
}
#priceList li, #categoriesList li, .btnPopup {
    border: 2px solid #d7d8d7;
    padding:10px 15px;
    margin: 15px;
    color: #797a79;
    background: #fbfbfb;
    font-size: 14px;
    float: left;
    cursor: pointer;
    font-weight: bold;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    width: 70px;
    text-align: center;
    list-style: none;
}

.btnPopup  {
    float: none;
    padding: 5px 10px;
    width: 100px;
}

a.btn:hover, .btn:hover {
    background-position: top;
    text-decoration: none;
}
.btn, a.btn {
    font-weight: bold;
    cursor: pointer;
    color: #000;
}

#registerBtn {
    margin-top: 8px;
    float: left;
}

#facebookConnect #facebookBtn {
    float: left;
    width: 280px;
}
#facebookConnect .btn:hover {
    text-decoration: underline;
}
#facebookConnect .btn {
    float: right;
    height: 27px;
    padding-right: 32px;
    padding-left: 32px;
    margin-left: 16px;
    line-height: 24px;
    color: #FFF;
}

#facebookConnect {
    float: right;
    padding: 17px;
    position: relative;
    top: 12px;

    background: rgb(242,246,248); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyZjZmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2Q4ZTFlNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2I1YzZkMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMGVmZjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,246,248,1)), color-stop(50%,rgba(216,225,231,1)), color-stop(51%,rgba(181,198,208,1)), color-stop(100%,rgba(224,239,249,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(242,246,248,1) 0%,rgba(216,225,231,1) 50%,rgba(181,198,208,1) 51%,rgba(224,239,249,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(242,246,248,1) 0%,rgba(216,225,231,1) 50%,rgba(181,198,208,1) 51%,rgba(224,239,249,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(242,246,248,1) 0%,rgba(216,225,231,1) 50%,rgba(181,198,208,1) 51%,rgba(224,239,249,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(242,246,248,1) 0%,rgba(216,225,231,1) 50%,rgba(181,198,208,1) 51%,rgba(224,239,249,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=0 ); /* IE6-8 */
    border: 1px solid #AFC6C2;
}

#normalLogin .form{
    float: right;
}

#myProfilePic {
    display: block;
    float: right;
    margin-left: 10px;
}

#myProfilePic div{
    overflow: hidden;
    border: 5px solid #353535;
    -webkit-box-shadow: 0 7px 14px -3px #808080;
    -moz-box-shadow: 0 7px 14px -3px #808080;
    box-shadow: 0px 7px 14px -3px  #808080;
    height: 150px;
    width: 150px;
    direction: ltr;
}

#myProfilePic img {
    position: relative;
    height: auto;
    width: 100%;
    min-height: 100%;
    display:block;
    margin: 0;
}

#signatureMsg {
    text-shadow: 0 1px 0 rgba(38, 67, 91, 0.33);
    width: 330px;
    float: right;
}
#signatureTitle {
    font-size: 38px;
    border-bottom: 1px solid #000;
    margin-bottom: 40px;
    padding-bottom: 20px;
}
#strGallery {
    margin-bottom: 15px;
    background: #D5D5D5;
    padding-bottom: 12px;
    width: 600px;
}
#soon {
    color: #0d0a0a;
    font-size: 25px;
    letter-spacing: 0.5px;
    line-height: 36px;
    font-weight: normal;
}

#tweeterShare {
    float: left;
}

#facebookShare {
    float: right;
    margin-left: 10px;
}
#shareTitle {
    color: #ffffff;
    margin-top: 30px;
    text-align: center;
    font-size: 25px;
    line-height: 30px;
}
#shareBtns {
    width: 285px;
    display: table;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.25);
    margin-top: 20px;
}

.menuFooter {
    padding: 10px 0px;
    list-style: none;
    margin: 0px;
}
.menuFooter li a:hover{
    color: #fff;
    text-decoration: underline;
}

#copyright {
    clear: right;
    line-height: 20px;
    color: #3C769D;
}
.menuFooter li a{
    color: #808282;
    text-decoration: none;
    margin-left: 15px;
    font-size: 15px;
    font-weight: bold;
}
.lastMenu {
    margin-right: -52px;
}

#shareSignature {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.15);
    color: #9ABEE5;
    text-shadow: 0 2px 0 rgba(38, 67, 91, 0.33);
    font-size: 14px;
    letter-spacing: 0.5px;
    float: left;
    width: 305px;
    height: 216px;
    margin-top: -45px;
    margin-left: 115px;
    display: table;
    padding-top: 78px;
    padding: 107px 15px 0px 15px;
}
#headerSignature {

}

#newStartupBtn {
    background: url("../images/btns.png") no-repeat 0 -138px;
}
#fromPressBtn {
    background: url("../images/btns.png") no-repeat  0 -69px ;
}
#investBtn {
    background: url("../images/btns.png") no-repeat  0 -207px ;
    margin-right: 31px !important;
}
#newStartupBtn:hover {
    background: url("../images/btns.png") no-repeat -254px  -138px;
}
#fromPressBtn:hover {
    background: url("../images/btns.png") no-repeat  -254px  -69px ;
}
#investBtn:hover {
    background: url("../images/btns.png") no-repeat  -254px  -207px;
}
#onCrowderBtn{
    background: url("../images/btns.png") no-repeat;
}
#onCrowderBtn:hover {
    background: url("../images/btns.png") no-repeat -254px  0px ;
}


#myProfile {
    float: right;
    padding: 3px;
    cursor: pointer;
    background: #353535;
    -webkit-box-shadow: 0 7px 14px -3px #808080;
    -moz-box-shadow: 0 7px 14px -3px #808080;
    box-shadow: 0px 7px 14px -3px  #808080;
}

#myProfile span{
    font-size: 14px;
    color: white;
    display: block;
    float: right;
    line-height: 31px;
    margin: 0 8px;
}
#myProfile:hover > #myProfile span{
    text-decoration: underline;
}

.userPicSmall {
    height: 40px;
    float: right;
    width: 40px;
}

#siteContent {
    margin-top: 50px;
    display: table;
    width: 100%;
}

#loginForm {
    float: right;
    width: 50%;
}
#indexRule:hover{
    opacity: 0.8;
}
#indexRule {
    display: block;
    height: 83px;
    width: 350px;
    background: url("../images/playVideo.png");
    float: left;
    margin: 136px 0px 0px 62px;
}
#selectedStartup {
    display: table;
}

#selectedStartup h1{
    margin-bottom: 15px;;
}
#startupDetailTop {
    float: right;
    margin-right: 30px;
}
#selectedStartupContent {
    display: table;
}
#selectedStartupMedia {
    width: 500px;
    padding: 5px;
    background: #cdcccb;
}
.html5gallery-left-0 {
    margin-left: -47px;
}
.html5gallery-right-0 {
    margin-left: 53px;
}
#indexBtns {
    list-style: none;
    background: #185380;
    height: 70px;
    margin-top: 43px;
    WIDTH: 100%;
}

.indexConText {
    float: right;
    margin-left: 10px;
    width: 43%;
}
#indexBtns li  {
    float: right;
}

#indexBtns a{
    display: block;
    height: 62px;
    width: 254px;
    margin: 10px 15px;
}

#joinUs:hover {
    opacity: 0.8;
}

#mainVid {
    height: 315px;
    float: left;
    width: 42%;
    margin-left: 20px;
    margin-top: 50px;
}
#joinUs {
    display: block;
    height: 80px;
    width: 260px;
    background: url("../images/btns.png") no-repeat 0px -275px;
    clear: right;
    margin-right: 200px;
}
#indexContent {
    width: 55%;
    float: right;
    padding: 0px 0px 0px 0px;
    color: #fff;
    margin-top: 18px;
}

#newStartupBtn2:hover {
    background: url("../images/btnsIphone.png") no-repeat -198px -108px !important;
}
#newStartupBtn2 {
    background: url("../images/btnsIphone.png") no-repeat 0px -108px !important;
    height: 50px;
    width: 198px;
    position: relative;
    top: 257px;
    display: block;
    float: right;
    right: 0px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#investBtn2:hover {
    background: url("../images/btnsIphone.png") no-repeat -198px -161px !important;
}
#investBtn2 {
    background: url("../images/btnsIphone.png") no-repeat 0px -161px !important;
    display: block;
    height: 50px;
    width: 198px;
    position: relative;
    top: 257px;
    right: 283px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}
#indexMainContent {
    background: url("../images/mainBc.png") no-repeat bottom center;
    padding-bottom: 35px;
}

.userPic {
    float: right;
    margin: 4px 7px 0 8px;
}

#menuUser{
    float: right !important;
}

#startupIndexImg {
    width:75%;
    float: right;
    margin-bottom: 10px;;
}

#startups {
    padding-top: 15px;
    display: table;
}
#startupIndex {
    background: url("../images/white_noted2.png") repeat-x bottom;
    margin-bottom: 23px;
    display: table;
    padding-bottom: 20px;
    width:440px;
    float: left;
}

#startupDetail {
    float: right;
    width: 440px;
    font-size: 15px;
    line-height: 23px;
}
#startupName {
    font-size: 28px;
    line-height: 36px;
}
#startupMonth {
    font-size: 25px;
    line-height: 60px;
}

#startupBoxBottom {
    background-color: gray;
    width: 100%;
    padding: 0px 10px 0px 10px;
    position: relative;
    left: 10px;
}

#starupView {
    font-size: 14px;
    display: block;
    width: 127px;
    text-align: center;
    float: right;
    margin-top: 20px;
}


#formContent {
    float: right;
    width: 600px;
    min-height: 210px;
    margin:0px 0px 40px 0px;
    background: white;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 5px 1px #EEE;
    -moz-box-shadow: 0px 0px 5px 1px #eeeeee;
    box-shadow: 0px 0px 5px 1px #EEE;
    padding: 40px;
    color: #686868;
    line-height: 26px;
    font-size: 14px;
}

#shortContent{
    padding-right: 15px;
    float: right;
    width: 395px;
}

#settingsSave {
    margin-top: 20px;
}
#sideTitle, .stTitle{
    font-size: 25px;
    padding: 10px 0px;
    border-bottom: 1px solid #000;
    margin-bottom: 20px;
    clear: right;
}
.settingForm .row {
    margin-bottom: 10px;
    margin-right: 10px;
}
.settingForm .row label{
    width: 120px;
    display: block;
    float:right;
    line-height: 40px;
    font-size: 14px;
}

#sManu {
    width: 100%;
    list-style: none;
    margin:0;
}
#sideManus {
    float: right;
    width: 100%;
}

#sManu li a {
    padding-right: 10px;
}
#sManu li {
    line-height: 30px;
    font-size: 14px;
    margin-bottom: 5px;
}
.sloganSt {
    height: 18px;
    width: 100%;
}
#sManu li.active {
    background: #DCE9F7 url(../images/noise_2.png);
    border: 1px solid #CED9E4;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #477DB3;
    cursor: default;
    text-shadow: white 0 1px 0;
    font-weight: bold;
    background:#e2ecf7;
}

#Profile_image {
    margin-top: 10px;
}

.textareacontact {
    height: 100px !important;
    width: 70% !important;
}
.settingForm select option {
    font-size: 13px;
    color: #777;
}


 .settingForm input[type="text"], .settingForm input[type="email"], .settingForm input[type="password"], .settingForm input[type="tel"], .settingForm input[type="url"], .settingForm textarea {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
     -khtml-border-radius: 3px;
    border-radius: 3px;
    height: 15px;
    padding-top: 11px;
    padding-bottom: 11px;
    font-size: 13px;
    color: #777;
    padding-right: 10px;
    border: 1px solid #D1D1D1;
    background: #F9F9F9;
    width: 220px;
    font: helvetica;
    -webkit-font-smoothing: antialiased;
    background-image: -ms-linear-gradient(top, #E9E9E9 0%, #F9F9F9 15%);
    background-image: -moz-linear-gradient(top, #E9E9E9 0%, #F9F9F9 15%);
    background-image: -o-linear-gradient(top, #E9E9E9 0%, #F9F9F9 15%);
    background-image: -webkit-linear-gradient(top, #E9E9E9 0%, #F9F9F9 15%);
    background-image: linear-gradient(top, #E9E9E9 0%, #F9F9F9 15%);
}

.settingForm select{
    position: relative;
    background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22100%25%22%20height%3D%22100%25%22%3E%3Cdefs%3E%3ClinearGradient%20id%3D%22G%22%20x1%3D%220%25%22%20y1%3D%220%25%22%20x2%3D%220%25%22%20y2%3D%22100%25%22%3E%3Cstop%20offset%3D%220%25%22%20style%3D%22stop-color%3Awhite%3B%20stop-opacity%3A1%22%20%2F%3E%3Cstop%20offset%3D%22100%25%22%20style%3D%22stop-color%3A%23ececec%3Bstop-opacity%3A1%22%20%2F%3E%3C%2FlinearGradient%3E%3C%2Fdefs%3E%3Crect%20width%3D%22100%25%22%20height%3D%22100%25%22%20fill%3D%22url%28%23G%29%22%2F%3E%3C%2Fsvg%3E);
    background-image: -ms-linear-gradient(top, white 0%, #ECECEC 100%);
    background-image: -moz-linear-gradient(top, white 0%, #ECECEC 100%);
    background-image: -o-linear-gradient(top, white 0%, #ECECEC 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(1, #ECECEC));
    background-image: -webkit-linear-gradient(top, white 0%, #ECECEC 100%);
    background-image: linear-gradient(top, white 0%, #ECECEC 100%);
    background-color: #ECECEC;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #C1C1C1;
    font-size: 12px;
    font-weight: bold;
    color: #777;
    height: 38px;
    line-height: 38px;
    width: 237px;
    -webkit-box-shadow: 1px 1px 1px 0px #DBDBDB;
    -moz-box-shadow: 1px 1px 1px 0px #dbdbdb;
    box-shadow: 1px 1px 1px 0px #DBDBDB;
    cursor: pointer;
}

.settingForm input[type="checkbox"] {
    float: right;
    margin: 13px;
}

#notificationForm .row,
#socialForm .row #fbRemove{
    clear: both;
}
#notificationForm label ,
#fbRemove label ,
#socialForm input[type="text"]{
    width: 65%;
}
#socialForm label {
 width:550px;
}
#Profile_website {
    direction: ltr;
}

#fLogo img{
    float: right;
    height: 70px;
    padding-left: 20px;
    border-left: 1px solid rgba(0, 0, 0, 0.20);
    margin-left: 20px;
}

#footer {
    padding-top: 25px;
    padding-bottom: 30px;
    border-top: 1px solid #808282;
    background-color: #2C2C2C;
    background-image: -moz-linear-gradient(top,#333,#222);
    background-image: -ms-linear-gradient(top,#333,#222);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#333),to(#222));
    background-image: -webkit-linear-gradient(top,#333,#222);
    background-image: -o-linear-gradient(top,#333,#222);
    background-image: linear-gradient(top,#333,#222);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333',endColorstr='#222222',GradientType=0);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

#shares {
    float: right;
}

#profileAbout{
    min-height: 210px;
}
.row #categories {
    display: table;
    width: 100%;
}

#favoritesCat, #moreDetailsSig {
    clear: right;
    padding-top: 15px;
    font-size: 22px;
    line-height: 26px;
}
#profileContent , #mainContentBox{
    min-height: 210px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    padding: 40px 0px;
    color: #000;
    line-height: 26px;
    background: #d0d3d5;
}

#socialProfile {
    float: left;
    width: 305px;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.15);
    margin: -60px 0px 0px 55px;
    padding: 60px 15px 0px 15px;
    height: 250px;
}

#aboutMe {
    width:60%;
    font-size: 15px;
    margin-bottom: 20px;
}

.infoTitle {
    font-size: 33px;
    color: #005580;
    padding-bottom: 20px;
    border-bottom: 1px dotted #000;
}

.prd_cat label{
    width: 110px !important;
}

#settingPic {
    margin-top: -41px;
    margin-right: 60px;
    height: 35px;
    width: 35px;
}

#facebookShareTop {
    float: left;
    margin-left: 11px;
    margin-top: 10px;
}


#comment {
    position: fixed;
    z-index: 1000;
    bottom: 3px;
    left: 3px;
    display: block;
    background: url("../images/comment.png") no-repeat;
    height: 100px;
    width: 100px;
    box-shadow: rgba(170, 170, 170, 0.597656) -3px 3px 3px;
    -webkit-box-shadow: rgba(170, 170, 170, 0.597656) -3px 3px 3px;
    cursor: pointer;
}

.grayBox {
    background: #ecedee !important;
    padding: 15px 0px;
}

#sponsors {
    width: 100%;
}

#sponsors li {
    float: right;
    padding: 20px;
}
#sponsors li a {
    display: block;
    float: right;
}
.sponsor_img {
    height: 32px;
}

#startupTopMenu li {
    float: right;
    width: 298px;
    margin-left: 15px;
    padding: 10px;
    background: #4f4f50;
}

.startupMenu{
    float: right;
    color: #ffffFF;
}

#submitStartupMenu li img {
    height: 30px;
    margin-top: 10px;
    float: right;
    margin-left: 20px;
}
.startupMenu .desc {
    font-style: italic;
}
.startupMenu .name{
    font-size: 20px;
    font-weight: bold;
}

#submitStartupMenu {
    background: #212121;
    padding: 15px;
}

.aoutoSearchBox img {
    margin: 3px 7px 0 0;
}
a.aoutoSearchBox {
    display: table !important;
    width: 100%;
}
.autoName {
    float: right;
    font-size: 14px;
    line-height: 31px;
    width: 187px;
}
#logoStManage {
    border: 1px solid #e7e6e6;
    margin-bottom: 15px;
}

.deleteMedia:hover , .deleteVideo:hover, .deleteTeamMember:hover{
    opacity: 0.8;
}

.pitchTitle {
    font-size: 15px;
    font-weight: bold;
    float: right;
    width: 500px !important;
    padding: 3px 5px;
}

.pitchBox {
    display: table;
    padding-bottom: 25px;
    border-bottom: 2px solid;
    margin-bottom: 25px;
}
.pitchUpload .qq-upload-button {
    width: 95%;
    height: 100%;
}
#Startup_is_visible label {
    width: 296px;
}

#Startup_is_visible_1{
    clear: right;
    margin-right: 119px;

}
#Startup_is_visible_0 , #Startup_is_visible_1{
    float: right;
    margin-top: 13px;
    margin-left: 9px;
}
.qq-upload-button {
    background-color: #49AFCD;
    background-image: -moz-linear-gradient(top,#5BC0DE,#2F96B4);
    background-image: -ms-linear-gradient(top,#5BC0DE,#2F96B4);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#5BC0DE),to(#2F96B4));
    background-image: -webkit-linear-gradient(top,#5BC0DE,#2F96B4);
    background-image: -o-linear-gradient(top,#5BC0DE,#2F96B4);
    background-image: linear-gradient(top,#5BC0DE,#2F96B4);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de',endColorstr='#2f96b4',GradientType=0);
    border-color: #2F96B4 #2F96B4 #1F6377;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
    padding: 9px 14px;
    font-size: 15px;
    line-height: normal;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color: white;
}
.pitchHead {
    display: table;
    margin-bottom: 10px;
    width: 558px;
}
.pitchContent {
    height: 150px;
    width: 550px;
    border: 2px solid #D4DCE1;
    font-size: 15px;
    font-family: tahoma,  arial, verdana, serif;
}
.deleteMedia , .deleteTeamMember ,.deleteVideo{
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid #ad3333;
    color: #0a0707;
    background: #f26666;
    float: left;
    padding: 3px 9px;
}

#samplePitchList {
    width: 450px;
    margin-bottom: 25px;
    border-top: 2px solid;
    list-style: none;
}
#addPitchQuest {
    margin-bottom: 25px;
}
#Startup_alias {
    float: right;
    direction: ltr;
    padding-left: 10px;
    margin-left: 10px;
}

#aliasS  {
    line-height: 41px;
}
#samplePitchList li:hover {
    background: #d5dbdd;
}
#samplePitchList li {
    border-bottom: 2px solid;
    cursor: pointer;
    background: #a8abad;
    padding: 5px;
    list-style: none;

}

.pitchUploadImagaeBox div {
    float: right;
    cursor: pointer;
}
.pitchUploadImagaeBox img {
    max-height: 100px;
    border: 1px solid #E7E6E6;
}
.pitchUploadImagaeBox {
    display: table;
    width: 100%;
    background: #a6aaad;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}
li.teamMember .teamMemDetails{
    padding-right: 100px ;
}
.teamMemDetails  .select-input {
    height: 35px;
    width: 118px;
}
li.teamMember label{
    display: block;
}
.updateTeamMember {
    margin-top: 20px;
    margin-right: 20px;
}
a.initABtn {
    display: block;
    color: #FFF;
}
li.teamMember {
    display: table;
    width: 550px;
    padding-bottom: 25px;
    border-bottom: 2px solid;
    margin-top: 25px;
}
.teamMember img{
    float: right;
    border: 2px solid #e4e4e4;
    max-height: 60px;
}

#user_autocomplete {
    height: 33px !important;
    width: 350px;
    margin-bottom: 15px;
    display: block;
}

#addTeamSubmit{
    width: 250px;
}

#mediaList li {
    display: table;
    width: 550px;
    padding-bottom: 25px;
    border-bottom: 2px solid;
    margin-bottom: 25px;
}

#addMedia {
    margin-bottom: 25px;
}
#mediaList li label{
    display: block;
    float: right;
    margin-left: 20px;
}
#mediaList {
    display: table;
    width: 550px;
    border-top: 2px solid;
    margin-top: 25px;
    padding-top: 25px;
}

#startupTopMenu li.selected .name,
#startupTopMenu li.selected .desc {
    color: #111;
}

#startupTopMenu li.selected {
    background: #fff;
    color: #111;
}

#startupBottomMenu li.selected {
    background: #fff;
    color: #000000;
}
#startupBottomMenu li.selected a {
    background: #FFF;
    color: #000000;
}
#startupBottomMenu li a {
    padding: 5px;
    float: right;
    background: #4f4f50;
    margin-left: 15px;
    width: 308px;
    color: #FFF;
    text-decoration: none;
}
#startupBottomMenu {
    margin-top: 15px;
}
li.selected a .numberBottom {
    color: #000;
}
.numberBottom {
    float: right;
    display: block;
    padding: 0px 15px 0px 10px;
    color: #FFF;
    font-weight: bold;
}
#startupTopMenu li.selected a span.number{
    color: #000 !important;
}

.number {
    float: right;
    display: block;
    padding: 10px;
    font-size: 40px;
    color: #FFF;
}

a.member {
    display: block;
}

.memberList .tooltip-inner {
    font-size: 15px !important;
    line-height: 26px !important;
    padding: 0px 20px !important;
}

#startup-followers {
    clear: both;
}

.memberList li {
    float: right;
    margin: 0px 0px 15px 15px;
}

#count-follow {
    font-size: 18px;
    color: black;
    line-height: 35px;
}

#mainStartupView {
    float: right;
    margin-left: 10px;
}
#startupVFollow {
    float: right;
    margin-top: 10px;
    margin-right: 12px;
}

#startupList {
    width: 100%;
}

#startupList li.startup {
    border: 4px solid black;
    padding: 10px;
    margin-bottom: 15px;
    display: table;
    float: right;
    width: 249px;
    margin-left: 15px;
    border-radius: 5px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
}

.btn-small [class^="icon-"] {
    margin-top: 1px !important;
    margin-left: 3px !important;
    margin-right: -3px !important;
}

#startupList .startupDetail {
    width: 100%;
    height: 75px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 18px;
    max-height: 75px;
}
a.view-startup {
    color: #fff;
    margin-left: 15px;
}

#startupList .startupName {
    line-height: 25px;
    font-size: 20px;
}
#userSite span {
    margin-left: 10px;
}
#startupList .startupImg img{
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    max-height: 232px;
    height: 187px;
    margin-bottom: 5px;
}

#startupList .startupImg {
    width: 100%;
    margin-bottom: 5px;
    height: 232px;
    vertical-align: middle;

}
#startupMenu {
    border-bottom: 1px solid #EBEBEB;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.75);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
    background-color: #F2F3F4;
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#F2F3F4),color-stop(100%,#EDEEEF));
    background-image: -webkit-linear-gradient(top,#F2F3F4,#EDEEEF);
    background-image: -moz-linear-gradient(top,#F2F3F4,#EDEEEF);
    background-image: -o-linear-gradient(top,#F2F3F4,#EDEEEF);
    background-image: linear-gradient(top,#F2F3F4,#EDEEEF);
    float: left;
    width: 100%;
    margin-bottom: 15px;
}
#toSrollFix {
    position: relative;
    top: -40px;
}
#startupMenuList {
    margin: 0px 30px 0 0;
}
#startupMenuList li:hover {
    background-color: #E2E4E6;
    cursor: pointer;
}
#startupMenuList li.active {
    border-left: 1px solid #E0E0E0;
    border-right: 1px solid #E0E0E0;
    -webkit-box-shadow: 0 1px rgba(255, 255, 255, 0.5) inset;
    -moz-box-shadow: 0 1px rgba(255,255,255,0.5) inset;
    box-shadow: 0 1px rgba(255, 255, 255, 0.5) inset;
    background-color: #F8F8F9;
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#E6E6E6),color-stop(100%,#F8F8F9));
    background-image: -webkit-linear-gradient(top,#E6E6E6,#F8F8F9);
    background-image: -moz-linear-gradient(top,#E6E6E6,#F8F8F9);
    background-image: -o-linear-gradient(top,#E6E6E6,#F8F8F9);
    background-image: linear-gradient(top,#E6E6E6,#F8F8F9);
    position: relative;
}
#startupMenuList li {
    list-style: none;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    float: left;
    font-size: 13px;
    font-weight: bold;
    color: #333;
    text-align: center;
    height: 47px;
    line-height: 47px;
}
a#fLogoText {
    font-size: 50px;
    color: #808282;
    display: block;
    margin-bottom: 18px;
}
a.footerTitle {
    font-size: 25px;
    color: #808282;
    display: block;
    margin-bottom: 10px;
}

.pageTitle {
    font-size: 45px;
    line-height: 80px;
    border-bottom: 1px solid #000;
    display: table;
    width: 100%;
    margin-bottom: 30px;
}

#startupsFilter {
    font-size:16px;
    float: left;
}
#startupsFilter a.active {
    color: #2476b4;
}
#startupsFilter a {
    color: #000;
    margin: 10px;
}

#startupTopMain {
    margin-top: 20px;
    padding-top: 30px;
}
#uploadFile .qq-uploader, #uploadFile2 .qq-uploader{
    margin-bottom: -17px;
}
.imgUp {
    float: right;
    width: 45%;
    display: table;
    margin-left: 30px;
}
#startupTopDetails {
    padding: 15px 0px;
}

#startupTopDetails .span7 {
    margin-right: 0px;;
}
#startupTopDetails  #startupName {
    color: #0d3452;
    font-size: 30px;
    margin-bottom: 10px;
    border-bottom: 1px solid #d3d3d3;
}

#strTopData{
    float: right;
    border-left: 1px solid #d3d3d3;
    padding-left: 10px;;
}
#startupVSlogan ,#startupVCategory ,#startupVAdmin{
    color: #0d3452;
    font-size: 16px;
    margin-bottom: 7px;
}

#startupVSlogan {
    margin-right: 15px;
    font-size: 18px;
}

.typeLab {
    margin-left: 10px;
}
#startapVSmallContent {
    border: 2px solid #0d3452;
    padding: 10px;
    background: #ecedee;
}
.mediumTitle {
    font-size: 25px;
    color: #0d3452;
    margin-bottom: 6px;
}
#startapVSmallContentText {
    height: 200px;
    margin-bottom: 5px;
}
.carousel .item > img {
    height: 290px;
    width: 100%;
    border: 2px solid #0d3452;
}
#startupVFollow .btn-group {
    display: table;
    margin: 0 auto;
}
.container{
    padding: 0px 10px;
}
#startupBottom {
    background: #ecedee;
}

#startupMemberList .mediumTitle,#followersStartup .mediumTitle{
    line-height: 30px;
}
#followersStartup {
    border-bottom: 1px solid #10102a;
    margin-bottom: 15px;
    padding-bottom: 10px;
    margin-right: 10px;
    margin-left: -10px;
    margin-bottom: 4px;
}
#startupViewFtitle {
    float: right;
    margin-left: 10px;
}
#followVCount {
    float: left;
    font-size: 12px;
    line-height: 24px;
    margin-left: 35px;
}

#pitchList  {
    width: 97%;
    margin-right: 20px;
}
#pitchList li {
    border-bottom: 1px solid #cbced1;
    margin-bottom: 15px;
    padding-bottom: 10px;
    line-height: 20px;
}


#startupMemberList .startupMemberRole {
    font-size: 16px;
}
#startupMemberList .startupMemberName {
    font-size: 25px;
    line-height: 30px;
}
#startupMemberList .startupMember {
    padding-right: 80px;
    color: #0d3452;
}
#startupMemberList li img {
    width: 60px;
    height: 60px;
    float: right;
}
#startupMemberList li {
    margin-bottom: 15px;
    padding-bottom: 10px;
    line-height: 20px;
    border-bottom: 1px solid #cbced1;
    display: table;
    width: 100%;
}
#startupMemberList {
    display: none;
    width: 97%;
    margin-right: 20px;
}

#logof a , #logot a{
    display: block;
    height: 25px;
    width: 25px !important;
    display: block;
}
#logof {
    background: url("../images/flogos.png") no-repeat;
    position: relative;
    top: 7px;
    left: -89px;
    float: right;
}

#logot {
    float: right;
    background: url("../images/twiterSmall.png") no-repeat;
    position: relative;
    top: 39px;
    left: -64px;
}

.html5gallery-watermark-0 {
    display: none !important;
}
.lastMenu li:nth-child(2) {
    margin-bottom: 11px;
    margin-top: 14px;
}
.lastMenu li:nth-child(1)
{
    margin-bottom: 11px;
}